/* 
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  size: 100px;

} */

#counter{
  display: block;
  text-align: center;
  font-size: 500px;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: space-evenly;
}

.btn{
  display: inline-flex;
  background-color: lightblue;
  border-radius: 5em;
  width: 100px;
  text-align: center;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
  
} 